# URL to the PostgreSQL server
DATABASE_HOST=localhost
# Port of the PostgreSQL server
DATABASE_PORT=5432
# Database name
DATABASE_NAME=cytraining
# User for the connection
DATABASE_USER=cytraining
# User password for the connection
DATABASE_PASS=awesomepassword

# Port for the backend server
BACKEND_PORT=7000

# Whether the application mode is "dev" or "prod", development and production, respectively
APP_MODE=dev

# The default password for the admin account when it is first created
ADMIN_PASS=admin
# The default email for the admin account when it is first created, with "@cytraining.fr" added at the end
ADMIN_MAIL=admin